@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Quicksand:wght@400;500&display=swap');

* {
  margin:  0;
  padding:  0;
}

*:focus{
  outline: none;
}

html, body, #root, .App {
  height: 100%;
  overflow-x: hidden;
  background-color:#edf0f2;
}

body{
  font-family: 'Roboto','Quicksand','Poppins',sans-serif;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: xx-large;
  color: white;
  margin-left: 10px;
  vertical-align: middle;
  margin-top: 5px;
}

header {
  display: flex;
  justify-content:space-between;
  width: 100%;
  padding: 1em 0em 1em 1em;
  background-color: #1e90ff;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
}

header img {
  margin-right: 40px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.input-box {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  max-height: 100%;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.2);
  background-color: white;
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside: avoid;           /* Theoretically FF 20+ */
  break-inside: avoid-column;         /* IE 11 */
  display:inline-block;
}

.title-input{
  display: block;
  width: 100%;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
  float: right;
  color: black;
  overflow: hidden;
  font-size: 1.2em;
  font-family: 'Lato' , sans-serif;
}

.content-input{
  display: block;
  border: none;
  width: 100%;
  resize: none;
  color: black;
  font-size: 0.8em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  overflow: hidden;
}

.input-box button {
  display: block;
  margin: 10px auto 0px auto;
  width: 100%;
  background-color: #1e90ff;
  border: none;
  font-family: sans-serif;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

.input-box button:hover {
  background-color: #076bcf;
}

.grid {
  padding-top: 20px;
  column-width: 15vw;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  -moz-column-width: 15vw;
  -webkit-column-width: 15vw;
  gap: 20px;
  column-gap: 20px;
}

.note {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-decoration: none;
  overflow: hidden;
  color: white;
  break-inside: avoid;
  padding: 20px;
  background-color: white;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  backface-visibility: hidden;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.note:hover {
  margin-top: 20px;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.note h3 {
  color: grey;
  font-family: 'Lato' , sans-serif;
  font-weight: 400;
  line-height: 0;
  display: inline-block;
  font-size: 0.7em;
}

.remove {
  margin-top: 2px;
  float: right;
  cursor:pointer;
}

.titleContainer {
  margin-top: 10px;
}

.note h1::before {
  content: "";
  height: 7px;
  width: 7px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
  background-color: #1e90ff;
  border-radius: 50%;
}

.note h1 {
  color: black;
  font-size: 1.2em;
  font-family: 'Lato' , sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.note p {
  color: black;
  font-size: 0.8em;
  margin-top: 15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  margin-left: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

footer{
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

footer p {
  font-family: 'Montserrat';
  color: grey;
  font-size: small;
}


